.castContainer{
    margin-top:2rem;
}
.mainTitle{
    font-size: 1.5rem;
    font-weight: 700;
}
.castSlider{
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}
.arrowContainer{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.rightArrow{
    display: flex;
    height: 100%;
    background-color: white;
    top: 0;
    right: 0;
    font-size: 3rem;
    justify-content: flex-end;
    z-index: 10;
    width: 5%;
    transition: 0.5s;
    position: absolute;
    
}
.leftArrow{
    display: flex;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    font-size: 3rem;
    justify-content: flex-start;
    z-index: 10;
    width: 5%;
    transition: 0.5s;
    position: absolute;
}
.viewport{
    width: 90%;
    overflow: hidden;
    flex-grow: 1;
}
.castMembers{
    display: flex;
    transition: 1s;
}