.loginPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginForm{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
}
.formText{
    font-size: 0.8rem;
    text-align: center;
}

.link{
    color:blue;
    cursor:pointer;
}